@font-face {
    font-family: sans-light;
    src: url("../fonts/sans-light.otf"); 
}

@font-face {
    font-family: sans-medium;
    src: url("../fonts/sans-medium.otf"); 
}

@font-face {
    font-family: sans-bold;
    src: url("../fonts/sans-bold.otf"); 
}

@font-face {
    font-family: sans-black;
    src: url("../fonts/sans-black.otf"); 
}

@font-face {
    font-family: morganite;
    src: url("../fonts/Morganite-Light.ttf"); 
}